os
pandas
sklearn
matplotlib
seaborn
numpy
warnings
LabelEncoder
train_test_split
TfidfVectorizer
hstack
OneVsRestClassifier
KNeighborsClassifier
metrics
nltk
string
warnings
docx2txt
KeyedVectors
cosine_similarity
stopwords
resample
Pipeline
FunctionTransformer
WordCloud
STOPWORDS
matplotlib.pyplot
classification_report
accuracy_score
LogisticRegression
DecisionTreeClassifier
KNeighborsClassifier
GridSearchCV
LinearDiscriminantAnalysis
OneVsRestClassifier
gensim.models
KeyedVectors
sklearn.metrics.pairwise
cosine_similarity
nltk.corpus
stopwords
sklearn.utils
resample
sklearn.pipeline
Pipeline
sklearn.preprocessing
FunctionTransformer
wordcloud
WordCloud
wordcloud
STOPWORDS
sklearn.model_selection
train_test_split
sklearn.feature_extraction.text
TfidfVectorizer
sklearn.metrics
accuracy_score
classification_report
sklearn.linear_model
LogisticRegression
sklearn.tree
DecisionTreeClassifier
sklearn.neighbors
KNeighborsClassifier
sklearn.model_selection
GridSearchCV
sklearn.discriminant_analysis
LinearDiscriminantAnalysis
sklearn.naive_bayes
GaussianNB
sklearn.multiclass
OneVsRestClassifier
sklearn.ensemble
GradientBoostingClassifier
sklearn.svm
SVC
nltk.tokenize
word_tokenize 
nltk.stem
PorterStemmer
WordNetLemmatizer
nltk.corpus
stopwords
nltk.tokenize
word_tokenize
sent_tokenize
gensim
gensim.downloader
gensim.utils
simple_preprocess
sklearn.svm
SVC
gensim.parsing.preprocessing
STOPWORDS
sklearn.metrics
classification_report
confusion_matrix
sklearn.feature_extraction.text
CountVectorizer
sklearn.feature_extraction
text
gensim.models
KeyedVectors
sklearn.metrics.pairwise
cosine_similarity
warnings
sklearn.feature_extraction.text
CountVectorizer
sklearn.pipeline
make_pipeline
sklearn.ensemble
GradientBoostingClassifier
scipy.sparse
sklearn.feature_extraction.text
CountVectorizer
sklearn.pipeline
make_pipeline
sklearn.ensemble
GradientBoostingClassifier









